.container{
    width: 1200px;
   
}
.title{
    display: flex;
    padding: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: relative;

}
.title::before{
    content: "";
    height: 10px;
    width: 10px;
    background: #3700ff;
    margin-right: 5px;
    border-radius:3px ;
    position: absolute;
    left: 490px;
}
.title::after{
    content: "";
    height: 10px;
    width: 10px;
    background: #ff0000;
    margin-left: 5px;
    border-radius:3px ;
    position: absolute;
    right: 490px;
}
.title:hover::before{
    content: "";
    height: 10px;
    width: 10px;
    background: #3700ff;
    margin-right: 5px;
    border-radius:5px ;
    position: absolute;
    left: 490px;
}
.title:hover::after{
    content: "";
    height: 10px;
    width: 10px;
    background: #ff0000;
    margin-left: 5px;
    border-radius:5px ;
    position: absolute;
    right: 490px;
}

